<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="content">
  <img width="500" alt="Client Logo" src="../assets/logo.png">
  <h1>
    Welcome to {{title}}!
  </h1>
  <span style="display: block">{{ title }} app is running!</span>
</div>
<!-- <img src="https://app1.test/assets/pixel.png"> -->
<!-- <img src="http://localhost:3000/track" crossorigin="anonymous"> -->
<!-- <img src="http://localhost:3000/photo.png"> -->
<iframe height="200" width="300" style="border:0;" src="http://localhost:3000/tracker.html"></iframe>
<br>
<!-- <iframe height="1500" width="1500" style="border:0;" src="https://app1.test/report"></iframe> -->
<router-outlet></router-outlet>
