<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="content">
  <img width="500" alt="Client Logo" src="../assets/logo.png">
  <h1>
    Welcome to {{title}}!
  </h1>
  <span style="display: block">{{ title }} app is running!</span>
</div>

<!-- <iframe height="200" width="300" style="border:0;"
  src="http://localhost:3000/init?d=JTdCJTIyUkVNT1RFX0FERFIlMjI6JTIyMTAuMC4wLjIzOCUyMiwlMjJIVFRQX1JFXJtZXIlNUN1MDAyNmxvY2F0aW9uPSUyMiwlMjJPUklHSU5BTF9GVUxMUEFUSCUyMjolMjIvTIyLCUyMlJFUVVFU1RfTUVUSE9EJTIyOiUyMkdFVCUyMiwlMjJSRVFVRVNUX1VSSSUyMjolnVlJTIyLCUyMkhUVFBfSE9TVCUyMjolMjJ3d3cuY2FyZWVyYnVpbGRlci5jb20lMjIsJTIyTIwV2luNjQ7JTIweDY0KSUyMEFwcGxlV2ViS2l0LzUzNy4zNiUyMChLSFRNTCwlMjBsaWtlC44NjQuNDElMjIsJTIyUVVFUllfU1RSSU5HJTIyOiUyMmFmdGVyX2V4dGVybmFsX2FwcGx5CUyMmhvc3Rfc2l0ZSUyMjolMjJVUyUyMiwlMjJzaXRlX3Byb3BlcnR5JTIyOiUyMkNhcmVl0EyMzU1RTclMjIlN0Q"></iframe> -->
<iframe height="200" width="300" style="border:0;"
  src="http://pix.app1.test/init"></iframe>

<router-outlet></router-outlet>
